@model IEnumerable<VideoRent.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<br />
@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>
<br />

<table class="table table-bordered table-hover" style="width:40%">
    <thead>
        <tr>
            <th style="text-align:center">Movie</th>
            <th style="width:15%; text-align:center">Genre</th>
            <th style="width:35%; text-align:center">Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                <td style="text-align:center">@movie.Genre.Name</td>
                <td>@movie.NumberAvailable</td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Filter Movies", "Filter", "Movies", null, new { @class = "btn btn-primary" })
</p>