@model VideoRent.ViewModels.CustomerFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Customer.Id != 0)
{
    ViewBag.Title = "Edit";
    <h2>Edit customer</h2>
}
else
{
    ViewBag.Title = "New";
    <h2>New customer</h2>
}

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group" style="width:20%">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group" style="width:20%">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(@Model.MembershipTypes, "Id", "Name"), "Select membership", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group" style="width:20%">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:yyyy MM dd}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate, "", new { @class = "text-danger" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to newsletter
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

