@model VideoRent.ViewModels.FilterRentalsViewModel
@{ ViewBag.Title = "Rental Search";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Rental Search</h2>

<br />

<form method="get">
    <div class="form-group" style="width:20%">
        @Html.LabelFor(m => m.RentalStatuses)
        @Html.DropDownListFor(m => m.RentalStatusId, new SelectList(@Model.RentalStatuses, "Id", "Name"), "All", new { @class = "form-control" })
    </div>
    <div class="form-group" style="width:20%">
        @Html.LabelFor(m => m.MovieId)
        @Html.DropDownListFor(m => m.MovieId, new SelectList(@Model.AllMovies, "Id", "Name"), "All", new { @class = "form-control" })
    </div>

    <button type="submit">Filter</button>
</form>

<br />

@if (Model.FilteredRentals.Any())
{
<table class="table-bordered table-hover table-condensed" style="width:40%">
    <thead>
        <tr>
            <th style="text-align:center" width="15%">Rental No.</th>
            <th style="text-align:center" width="35%">Customer</th>
            <th style="text-align:center" width="35%">Movie</th>
            <th style="text-align:center" width="15%">Is Returned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model.FilteredRentals)
        {
<tr>
    <td style="text-align:center">@Html.ActionLink(rental.Id.ToString(), "Details", "Rentals", new { id = rental.Id }, null)</td>
    <td style="text-align:center">@rental.Customer.Name</td>
    <td style="text-align:center">@rental.Movie.Name</td>
    <td style="text-align:center">@(rental.Returned ? "Yes" : "No") </td>
</tr>}
    </tbody>
</table> }
            else
            {
<b>No records found.</b>}