@model IEnumerable<VideoRent.Models.Rental>
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>
<br />
<p>
    @Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "btn btn-primary" })
</p>
<br />
@if (!Model.Any())
{
    <p>We don't have any rentals yet.</p>
}
else
{
    <table class="table table-bordered table-hover" style="width:40%">
        <thead>
            <tr>
                <th style="width: 10%; text-align: center">Rental No.</th>
                <th style="width:30%; text-align:center">Customer</th>
                <th style="width:15%; text-align:center">Is Returned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in Model)
            {
                <tr>
                    <td>@Html.ActionLink(rental.Id.ToString(), "Details", "Rentals", new { id = rental.Id }, null)</td>
                    <td>@rental.Customer.Name</td>
                    <td>@(rental.Returned ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Filter Rentals", "Filter", "Rentals", null, new { @class = "btn btn-primary" })
    </p>
}